@model Assigment.Models.MyViewModel

@{
ViewData["Title"] = "Index";
Layout = "_Layout3";
}
<style>
  .form-container {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    top: 5px;
    padding: 30px 20px 20px 20px;
    margin-bottom: 20px;
    height:80%;
    width:80%;
   
  }

  .no-border-input {
    border: none;
    box-shadow: none;
    background-color: transparent;
  }

  #selectedTrainerImage {
    max-width: 237px;
    max-height: 317px;
    align-items:center;
    justify-content: center;
  }

</style>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<div class="container form-container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Book Gym Session</h1>
      <hr>
      <form method="post" asp-action="AddBooking" asp-controller="BookingSession">

        
        <div class="row">
          <div class="col-md-6">

            <!-- Username Name -->
            <div class="form-group">
                <label for="trainerName">Username: </label><br />
                @if (User.Identity.IsAuthenticated)
                {
                 <input type="text" class="form-control" asp-for="BookingSession.bookingSession_CustomerName" value="@User.Identity.Name" readonly />
                }
                else
                {
                    <input type="text" class="form-control no-border-input" id="username" name="username" asp-for=BookingSession.bookingSession_CustomerName value="Please log in to see your username." readonly />
                }
            </div>

            <!-- Trainer Name -->
             <div class="form-group">
                <label for="trainerName">Trainer: </label><br />
                <select class="form-control" id="gymSession_TrainerName" name="BookingSession.bookingSession_TrainerName" asp-for="BookingSession.bookingSession_TrainerName">
                    <option value="">Select Trainer</option>
                    @foreach (var session in Model.GymSession)
                    {
                        <option value="@session.gymSession_ID">@session.gymSession_TrainerName</option>
                    }
                </select>
            </div>


             <!-- Category -->
 @*             <div class="form-group">
                <label for="trainerName">Category: </label><br />
                <input>
               <select class="form-control" id="gymSession_Category" asp-for="BookingSession.bookingSession_Category">
                <option value="">Select a Category</option>
                @foreach (var session in Model.GymSession)
                {
                <option value="@session.gymSession_ID">@session.gymSession_Category</option>
                }
              </select>
                <script>
                  $(document).ready(function () {
                    // Create a JavaScript array of gym sessions
                    var gymSessions = @Html.Raw(Json.Serialize(Model.GymSession));

                    $('#gymSession_TrainerName').on('change', function () {
                      var selectedTrainerId = parseInt($(this).val());

                      // Use the JavaScript array to find the selected trainer
                      var selectedTrainer = gymSessions.find(function (trainer) {
                        return trainer.gymSession_ID === selectedTrainerId;
                      });

                      if (selectedTrainer) {
                        $('#selectedTrainerImage').attr('src', selectedTrainer.gymSession_Trainer_Image_URL);
                      } else {
                        $('#selectedTrainerImage').attr('src', ''); // Set the src attribute to an empty string if no trainer is selected
                      }
                    });
                  });
                </script>
            </div>*@

            



            <!-- Date -->
              <div class="form-group">
                <label for="trainerName">Date: </label><br />
                <select class="form-control" id="gymSession_Date" asp-for="BookingSession.bookingSession_Date">
                    <option value="">Select a Date</option>
                    @foreach (var session in Model.GymSession)
                    {
                    <option value="@session.gymSession_ID">@session.gymSession_Date</option>
                    }
                </select>
            </div>


            <div class="form-group">
                <label for="category">Category: </label><br />
                <input type="text" class="form-control no-border-input" id="category" name="BookingSession.bookingSession_Category" readonly asp-for="BookingSession.bookingSession_Category" readonly />

            </div>

            <div class="form-group">
                <label for="time">Time: </label><br />
                <input type="text" class="form-control no-border-input" id="time" name="BookingSession.bookingSession_Time" readonly asp-for="BookingSession.bookingSession_Time" />
            </div>


           <input type="hidden" class="form-control" asp-for="BookingSession.gymSessions_ID" id="gymSessionId" name="BookingSession.gymSessions_ID">

            <!-- Submit Button -->
             <div class="form-group text-right">
                  <button type="submit" class="btn btn-primary">Book Session</button>
            </div>

            


          </div>

        <div class="col-md-6" style="display: flex; flex-direction: column; align-items: center;">
          <label for="gymSession_Trainer_Image_URL" id="gymSession_Trainer_Image_URL" name="gymSession_Trainer_Image_URL" style="text-align: center;">Image</label><br />
          <div style="text-align: center;">
            <img id="selectedTrainerImage" src="" alt="Trainer Image" style="max-width: 237px; max-height: 317px;" />
          </div>
        </div>


        

      </form>
      <script>
            $(document).ready(function () {
                var gymSessions = @Html.Raw(Json.Serialize(Model.GymSession));

                function updateFields() {
                    var selectedTrainerId = parseInt($('#gymSession_TrainerName').val());
                    var selectedDateId = parseInt($('#gymSession_Date').val());

                    var selectedSession = gymSessions.find(function (session) {
                        return session.gymSession_ID === selectedTrainerId && session.gymSession_ID === selectedDateId;
                    });

                    if (selectedSession) {
                        $('#category').val(selectedSession.gymSession_Category);
                        $('#time').val(selectedSession.gymSession_Time);
                        $('#selectedTrainerImage').attr('src', selectedSession.gymSession_Trainer_Image_URL);
                        $('#gymSessionId').val(selectedSession.gymSession_ID);

                    } else {
                        $('#category').val("");
                        $('#time').val("");
                        $('#selectedTrainerImage').attr('src', '');
                                        $('#gymSessionId').val(""); // Add this line to clear the gymSession_ID field when no session is selected

                    }
                }

                $('#gymSession_TrainerName').on('change', updateFields);
                $('#gymSession_Date').on('change', updateFields);
            });
        </script>
    </div>
  </div>
</div>
